:host {
  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;

    .score,
    .detail {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: flex-start;
      padding-top: 100px;
    }

    .score {
      align-items: center;

      h1 {
        font-size: 5rem;
        font-weight: 900;
        color: var(--primary);
        padding: 42px 0 16px 0;
      }

      h2 {
        font-weight: 600;
        font-size: 1.2rem;
      }

      h3 {
        color: var(--primary);
        font-weight: 600;
        font-size: 1.4rem;
        padding-bottom: 16px;
      }
    }

    .detail {
      h3 {
        font-size: 1.1rem;
        font-weight: 600;
      }

      ul > li {
        list-style: none;

        mat-icon {
          position: relative;
          top: 8px;
        }
      }
    }
  }
  .check {
    color: green;
  }
  .wrong {
    color: red;
  }
}
