:host {
  .question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;

    h4 {
      font-weight: 600;
      font-size: 1.1rem;
    }

    mat-radio-button,
    mat-checkbox {
      background-color: #e1f1ff;
      padding: 16px;
      margin: 2%;
      width: 40%;
      border-radius: 4px;
    }

    .mat-radio-label {
      display: flex !important;
      flex-direction: row-reverse !important;
    }

    .text-center {
      display: flex;
      justify-content: center;
    }
  }

  .action {
    display: flex;
    justify-content: center;
  }
}
